{% extends 'universal.html.twig' %}

{% block title %} Global de noticias{% endblock %}



{% block contenido %}
    <h1>Esta es la sección global de noticias</h1>
     <ul>
        {% for noticia in noticias %}
            {% if noticia.id!= 2 %}
                <li>
                    <a href="{{ url('noticiaSingle',{id:noticia.id}) }}">{{ noticia.titular }} {{ noticia.id }}</a>
                </li>
            {% else %}
                <li>
                    {{ noticia.titular }} {{ noticia.id }}
                </li>
            {% endif %}

        {% endfor %}
    </ul> 
{% endblock %}